:root {
    --cyan: #00ffff;
    --gray: rgb(173, 173, 170);
  }
  
  .projects h3 {
      color: var(--cyan);
      font-size: 16px;
  }
  .projects h3 span{
      font-size: 45px;
      color: white;
      text-transform: capitalize;
  }

  .card:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  .card{
    transition: 1s;
  }

  .card-body{
    color: white;
    background-color:#2b2f32;
    /* background-color:#2d3134; */
  }

  .card-body button{
    padding: 3px 10px;
    font-size: 14px;
    color: var(--gray);
    border: 1px solid var(--cyan);
    border-radius: 3px;
  }

  .card-body button:hover{
    background-color: var(--gray) !important;
    color: var(--cyan);
  }